Source: ktp-auth-handler
Section: kde
Priority: optional
Maintainer: Debian/Kubuntu KDE Extras Team <pkg-kde-extras@lists.alioth.debian.org>
Uploaders: Diane Trout <diane@ghic.org>,
           Michał Zając <quintasan@kubuntu.org>,
           Mark Purcell <msp@debian.org>
Build-Depends: cmake,
               debhelper (>= 9),
               extra-cmake-modules,
               kio-dev,
               libaccounts-qt5-dev,
               libkaccounts-dev,
               libkf5i18n-dev,
               libkf5wallet-dev,
               libkf5webkit-dev,
               libkf5widgetsaddons-dev,
               libktp-dev,
               libqca-qt5-2-dev,
               libsignon-qt5-dev,
               libtelepathy-qt5-dev,
               pkg-kde-tools (>> 0.15.15)
Standards-Version: 3.9.5
Homepage: https://projects.kde.org/projects/extragear/network/telepathy/ktp-auth-handler
Vcs-Git: git://anonscm.debian.org/pkg-kde/applications/ktp-auth-handler.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-kde/applications/ktp-auth-handler.git

Package: kde-telepathy-auth-handler
Architecture: any
Depends: kde-telepathy-data, ${misc:Depends}, ${shlibs:Depends}
Recommends: kde-telepathy
Suggests: libqca-qt5-2-plugins
Description: KDE Telepathy authentication handler
 This package provides a Telepathy handler for the ServerAuthentication
 and ServerTLSConnection Telepathy channel types, which means that it
 provides passwords to connection managers (and stores them using KWallet)
 and also handles SSL certificate errors in encrypted IM connections.
 .
 This package is not meant to be used standalone. It is recommended
 to install the kde-telepathy metapackage instead.

Package: kde-telepathy-auth-handler-dbg
Architecture: any
Section: debug
Priority: extra
Depends: kde-telepathy-auth-handler (= ${binary:Version}), ${misc:Depends}
Description: KDE Telepathy authentication handler - debug symbols
 This package provides the debug symbols for the KDE Telepathy authentication
 handler module.
